<html>
    <head>
        <title>dalle-mini-tools Server</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(function(){
                $('#warning').hide();
                $('input[type=submit]').removeAttr('disabled');
                $('form').submit(function(e){
                    $(this).children('input[type=submit]').attr('disabled', 'disabled');
                    $('#warning').show();
                });
            })
        </script>
    </head>
    <body>
        <a href="https://github.com/xeb/dalle-mini-tools"><h1>dalle-mini-tools</h1></a>
        <p><b>an automatic image generator.</b> <br/>
            This is powered by a desktop computer that responds to queued requests, <br/>
            meaning it may or may not work depending on if the desktop is online. <br/>
            If you are reading this, it's probably a good sign.</p>
        <form action="/" method="post">
            <label for="prompt">Prompt:</label><br/>
            <textarea name="prompt" autofocus cols="75" rows="5"></textarea><br/>
            <input type="submit" value="Generate" />
        </form>
        <br/><br/>
        <label id="warning">Generating... this will take time. Like 5 minutes. Don't close this window!</label>
    </body>
</html>
